@import url('https://fonts.googleapis.com/css2?family=Della+Respira&family=Tangerine&display=swap');

/* Defining colour variables and their colour codes here */
:root {
  /* Background */
  --bg-body: #121212;
  --bg-card: #1E1E1E;

  /* Text */
  --text-colour-primary:   rgba(255, 255, 255, 0.87);
  --text-colour-secondary: #B3B3B3;
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* Base */
html, body {
  height: 100%;
}
/* Allow normal page scroll */
body {
  background-color: var(--bg-body);
  color: var(--text-colour-primary);
  padding: 0;
  overflow: auto; /* was: hidden */
  -webkit-tap-highlight-color: transparent;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

h1 {
  font-family: "Tangerine", serif;
  /* color: white; */
  font-size: 50px;
}

p {
  font-family: "Della Respira", serif;
  /* color: white; */
  font-size: 20px;
}

.ScreenContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.gypsy-bg-img {
  background-image: url('/Tarot-Reading/GypsyLady.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.crystalBall-bg-img {
  background-image: url('/Tarot-Reading/CrystalBall.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}