@import url('https://fonts.googleapis.com/css2?family=Della+Respira&family=Tangerine&display=swap');

/* Defining colour variables and their colour codes here */
:root {
  /* Background */
  --bg-body: #121212;
  --bg-card: #1E1E1E;

  /* Text */
  --text-colour-primary:   rgba(255, 255, 255, 0.87);
  --text-colour-secondary: #B3B3B3;
}

/* Base */
html, body {
  height: 100%;
}
/* Allow normal page scroll */
body {
  background-color: var(--bg-body);
  color: var(--text-colour-primary);
  padding: 0;
  margin: 0;
  overflow: auto; /* was: hidden */
  -webkit-tap-highlight-color: transparent;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

h1 {
  font-family: "Tangerine", serif;
  /* color: white; */
  font-size: 50px;
}

p {
  font-family: "Della Respira", serif;
  /* color: white; */
  font-size: 20px;
}

.ScreenContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  /* Puts the rest of the container above the darker filter */
  position: relative;
  z-index: 2;
}

.bg-img {
  width: 100vw;   /* 100% of viewport width */
  height: 100vh;  /* 100% of viewport height */
  background-size: cover;      /* fill the screen */
  background-position: center; /* center image */
  background-repeat: no-repeat;

  position: relative;
}

/* Darkens the image */
.bg-img::before {
  content: "";                /* required or overlay won't appear */
  position: absolute;
  inset: 0;                   /* top:0 right:0 bottom:0 left:0 */
  background-color: rgba(0, 0, 0, 0.5); /* change 0.5 to make darker or lighter */
  z-index: 1;
}

.gypsy-bg-img {
  background-image: url('/Tarot-Reading/GypsyLady.jpg');

}

.crystalBall-bg-img {
  background-image: url('/Tarot-Reading/CrystalBall.jpg');
}