@import url('https://fonts.googleapis.com/css2?family=Della+Respira&family=Tangerine&display=swap');

/* Defining colour variables and their colour codes here */
:root {
  /* Background */
  --bg-body: #0D1B2A;
  --bg-card: #1E1E1E;

  /* Text */
  --text-colour-primary:   #EDE7F6;
  --text-colour-secondary: #B3B3B3;
}

/* Base */
html, body {
  height: 100%;
}
/* Allow normal page scroll */
body {
  background-color: var(--bg-body);
  color: var(--text-colour-primary);
  padding: 0;
  margin: 0;
  overflow: auto; /* was: hidden */
  -webkit-tap-highlight-color: transparent;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

h1 {
  font-family: "Tangerine", serif;
  /* color: white; */
  font-size: 50px;
}

p {
  font-family: "Della Respira", serif;
  /* color: white; */
  font-size: 20px;
}

