@import url('https://fonts.googleapis.com/css2?family=Della+Respira&family=Tangerine&display=swap');

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

h1 {
  font-family: "Tangerine", serif;
  /* color: white; */
  font-size: 50px;
}

p {
  font-family: "Della Respira", serif;
  /* color: white; */
  font-size: 20px;
}