@import url('https://fonts.googleapis.com/css2?family=Della+Respira&family=Tangerine&display=swap');

/* Defining colour variables and their colour codes here */
:root {
  /* Background */
  --bg-body: #0D1B2A;
  --bg-card: #1E1E1E;

  /* Text */
  --text-colour-primary:   #EDE7F6;
  --text-colour-secondary: #B3B3B3;

  --font-body: "Della Respira";
  --font-title: "Tangerine";
}

/* Base */
html, body {
  height: 100%;
}
/* Allow normal page scroll */
body {
  background-color: var(--bg-body);
  color: var(--text-colour-primary);
  padding: 0;
  margin: 0;
  overflow: auto; /* was: hidden */
  -webkit-tap-highlight-color: transparent;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

h1 {
  font-family: "Tangerine", serif;
  /* color: white; */
  font-size: 50px;
  text-align: center;
}

p {
  font-family: "Della Respira", serif;
  /* color: white; */
  font-size: 20px;
}

.ScreenContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  position: relative;

  min-height: 100vh;            /* ensures full-screen minimum */
  box-sizing: border-box;
  padding-top: 2rem;            /* nice breathing room from the top */
}

.bg-img {
  width: 100vw;   /* 100% of viewport width */
  min-height: 100vh;  /* 100% of viewport height */
  background-size: cover;      /* fill the screen */
  background-position: center; /* center image */
  background-repeat: no-repeat;
}

.gypsy-bg-img {
  background-image: url('/NoBackgroundGypsyLady.png');
  background-size: 65%;   /* zoom in */
  background-position: center bottom;          
}

.crystalBall-bg-img {
  background-image: url('/CrystalBall.jpg');
}
